{
  "branches": [
    "main",
    {
      "name": "release/([0-9]+).([0-9]+)",
      "channel": "${name.replace(/release\\//g, '').split('.')[0]}.${name.replace(/release\\//g, '').split('.')[1]}.x",
      "range": "${name.replace(/release\\//g, '').split('.')[0]}.${name.replace(/release\\//g, '').split('.')[1]}.x"
    },
    {
      "name": "rc/*",
      "prerelease": "rc",
      "channel": "rc"
    }
  ],
  "tagFormat": "v${version}",
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits"
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits"
      }
    ],
    [
      "@semantic-release/exec",
      {
        "verifyReleaseCmd": "echo ${nextRelease.version} > VERSION",
        "prepareCmd": "cd .. && SEM_VER=${nextRelease.version} node scripts/bump-contracts-version.js"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "package.json",
          "../package.json",
          "../package-lock.json"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\nSigned-off-by: Hedera Eng Automation <eng-automation@hashgraph.com>"
      }
    ],
    "@semantic-release/github"
  ]
}
