name: Tests CI

on:
  push:
  pull_request:
    branches:
      - "main"
  workflow_dispatch:

concurrency:
  group: tests-${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read
  checks: write
  pull-requests: write

defaults:
  run:
    shell: bash

jobs:
  ERC20Contract:
    name: ERC20 Contract Test Suite
    uses: ./.github/workflows/test-workflow.yml
    with:
      testfilter: ERC20

  PublishResults:
    name: Publish Results
    if: ${{ !cancelled() }}
    needs:
      - ERC20Contract

    runs-on: hl-contr-lin-md
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with:
          egress-policy: audit

      - name: Download Test Reports
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          pattern: Test Results (*)
          merge-multiple: true

      - name: Publish Test Report
        uses: step-security/publish-unit-test-result-action@43e0c963eea0ace6eca353cb1d814d857fee5c53 # v2.20.2
        with:
          check_name: Test Results
          json_thousands_separator: ','
          junit_files: 'test-*.xml'
